.error {
    color: var(--vscode-errorForeground);
}

body {
    padding: 0;
    margin: 0;
    border: none;
}

div#content {
    padding: 0;
    margin: 0;
    height: 100vh;
}

div.treeNode {
    padding-top: 1ex;
    padding-left: 2em;
    background-color: var(--vscode-list-background);
}

div#grid-column-parent {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(2ex, 6ex);
    grid-template-areas:
        "search search search"
        "main main main"
        "status status status";
}


div#grid-column-parent.side-view-open {
    grid-template-areas:
        "search search search"
        "main main side"
        "status status status";
}

div#grid-column-parent.search-results-open {
    grid-template-areas:
        "search search search"
        "results main main"
        "status status status";
}

div#grid-column-parent.side-view-open.search-results-open {
    grid-template-areas:
        "search search search"
        "results main side"
        "status status status";
}

@media (max-width: 720px) {

    /* single column */
    div#grid-column-parent {
        display: grid;
        height: 100vh;
        grid-template-columns: minmax(0, auto);
        grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(2ex, 6ex);
        grid-template-areas:
            "search"
            "main"
            "main"
            "main"
            "status";
    }


    div#grid-column-parent.side-view-open {
        grid-template-areas:
            "search"
            "main"
            "main"
            "side"
            "status";
    }

    div#grid-column-parent.search-results-open {
        grid-template-areas:
            "search"
            "results"
            "main"
            "main"
            "status";
    }

    div#grid-column-parent.side-view-open.search-results-open {
        grid-template-areas:
            "search"
            "results"
            "main"
            "side"
            "status";
    }


}

div#status-line {
    grid-area: status;
    font-size: smaller;
}

div#search {
    grid-area: search;
    margin: 0;
    padding: 1ex;
}

div#search-results {
    grid-area: results;
    display: none;
    margin: 0;
    padding: 1ex;
    overflow: scroll;
    border: 2px dashed red;
}

pre.side-view-full-text {}

div#side-view {
    display: none;
    grid-area: side;
    margin: 0;
    padding: 1ex;
    overflow: scroll;
}

div#logview-root-node {
    grid-area: main;
    margin: 0;
    padding-top: 4ex;
    padding-left: 2ex;
    padding-right: 2ex;
    padding-bottom: 2ex;
    white-space: pre-wrap;
    overflow: scroll;
}

span.spyglass:hover {
    cursor: pointer;
}

span.nodeKind {
    font-size: xx-small;
    font-style: italic;
    border: 2px dotted;
}

details>summary p {
    display: inline;
}

summary:hover {
    background-color: var(--vscode-list-hoverBackground);
}


p.node-kind-Build span.nodeKind {
    display: none;
}

p.node-kind-Build::before {
    content: '⚙️ ';
    border: none;
}

p.node-kind-Folder span.nodeKind {
    display: none;
}

p.node-kind-Folder::before {
    content: '📂 ';
    border: none;
}

p.node-kind-Property span.nodeKind {
    display: none;
}

p.node-kind-Property::before {
    content: '🏷️ ';
    border: none;
}

p.node-kind-Project span.nodeKind {
    display: none;
}

p.node-kind-Project::before {
    content: '🧰 ';
    border: none;
}

p.node-kind-Target span.nodeKind {
    display: none;
}

p.node-kind-Target::before {
    content: '🎯 ';
    border: none;
}

p.node-kind-Task span.nodeKind {
    display: none;
}

p.node-kind-Task::before {
    content: '📋 ';
    border: none;
}

p.node-kind-Message span.nodeKind {
    display: none;
}

p.node-kind-Message::before {
    content: '📣 ';
    border: none;
}

p.node-kind-TimedNode span.nodeKind {
    display: none;
}

p.node-kind-TimedNode::before {
    content: '⏳ ';
    border: none;
}

p.node-kind-Item span.nodeKind {
    display: none;
}

p.node-kind-Item::before {
    content: '📄 ';
    border: none;
}