.error {
    color: var(--vscode-errorForeground);
}

body {
    padding: 0;
    margin: 0;
    border: none;
}

div#content {
    padding: 0;
    margin: 0;
    height: 100vh;
}

div.treeNode {
    padding-top: 1ex;
    padding-left: 2em;
    background-color: var(--vscode-list-background);
}

div#grid-column-parent {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, auto) minmax(0, 1fr) minmax(2ex, 6ex);
    grid-template-areas:
        "search search"
        "main main"
        "status status";
}



summary:hover {
    background-color: var(--vscode-list-hoverBackground);
}

div#grid-column-parent.side-view-open {
    grid-template-areas:
        "search search"
        "main side"
        "status status";
}

div#mainApp {
    grid-area: status;
    font-size: smaller;
}

div#search {
    grid-area: search;
    padding: 1ex;
}

pre.side-view-full-text {}

div#side-view {
    display: none;
    grid-area: side;
    margin: 0;
    padding: 1ex;
    overflow: scroll;
}

div#logview-root-node {
    grid-area: main;
    margin: 0;
    padding-top: 4ex;
    padding-left: 2ex;
    padding-right: 2ex;
    padding-bottom: 2ex;
    white-space: pre-wrap;
    overflow: scroll;
}

span.nodeKind {
    font-size: xx-small;
    font-style: italic;
    border: 2px dotted;
}

details>summary p {
    display: inline;
}

p.node-kind-Build span.nodeKind {
    display: none;
}

p.node-kind-Build::before {
    content: '⚙️ ';
    border: none;
}

p.node-kind-Folder span.nodeKind {
    display: none;
}

p.node-kind-Folder::before {
    content: '📂 ';
    border: none;
}

p.node-kind-Property span.nodeKind {
    display: none;
}

p.node-kind-Property::before {
    content: '🏷️ ';
    border: none;
}

p.node-kind-Project span.nodeKind {
    display: none;
}

p.node-kind-Project::before {
    content: '🧰 ';
    border: none;
}

p.node-kind-Target span.nodeKind {
    display: none;
}

p.node-kind-Target::before {
    content: '🎯 ';
    border: none;
}

p.node-kind-Task span.nodeKind {
    display: none;
}

p.node-kind-Task::before {
    content: '📋 ';
    border: none;
}

p.node-kind-Message span.nodeKind {
    display: none;
}

p.node-kind-Message::before {
    content: '📣 ';
    border: none;
}

p.node-kind-TimedNode span.nodeKind {
    display: none;
}

p.node-kind-TimedNode::before {
    content: '⏳ ';
    border: none;
}

p.node-kind-Item span.nodeKind {
    display: none;
}

p.node-kind-Item::before {
    content: '📄 ';
    border: none;
}